<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QbH | Content</title>

    <script type="text/javascript" src="./js/db.js"></script>
    <script type="text/javascript" src="./js/content.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./css/general.css">
</head>

<body>
<!--------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------- Navigation bar -------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <nav class="top">
        <ul>
            <li><a href="home.html">Query by Humming</a></li>
            <li><a href="home.html">Home</a></li>
            <li><a href="query.html">Query</a></li>
            <li><a class="active" href="content.html">Content</a></li>
            <!-- <li><a href="about.asp">About</a></li> -->
        </ul>
    </nav>
    <br>
    <br>
    <br>

<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Content ----------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <div class="skip-navbar">
        <button type="button" onclick="fillContentTable()">Show content</button>
    </div>

    <div>
        <p id="loadingInformation"></p>
    </div>

    <div>
        <table id="contentTable"></table>
    </div>

<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Footer ------------------------------------------------------>
<!--------------------------------------------------------------------------------------------------------------------->
    <nav class="bottom">
        Query by Humming © Thijs Spinoy
    </nav>

</body>

</html>