<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>

    <script type="text/javascript" src="./js/db.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/general.css">
</head>

<body>
<!--------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------- Navigation bar -------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <nav class="top">
        <ul>
            <li><a href="home.html">Query by Humming</a></li>
            <li><a href="home.html">Home</a></li>
            <li><a href="query.html">Query</a></li>
            <li><a class="active" href="content.html">Content</a></li>
            <!-- <li><a href="about.asp">About</a></li> -->
        </ul>
    </nav>
    <br>

<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Content ----------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <div class="skip-navbar">
        <p>Hier komt de inhoud van de database.</p>
    </div>

<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Footer ------------------------------------------------------>
<!--------------------------------------------------------------------------------------------------------------------->
    <nav class="down">
        Query by Humming © Thijs Spinoy
    </nav>

</body>

</html>