<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QbH Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="./css/general.css">
</head>

<body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="./js/home.js"></script>
    <nav>
        <h1>Query By Humming</h1>
    </nav>

    <br>

    <table>
        <tr>
            <td>
                <h2>Add a new sound to the database.</h2>
                <input id="addNewSound" type="file" onchange="added()">
            </td>
        </tr>
        <tr>
            <td>
                <h2>Search for a sound with your query.</h2>
                <button type="submit" onclick="goToQueryPage()">Upload query and search!</button>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Search for a sound you would like to download.</h2>
                <input type="text" name="search" placeholder="Search..." onclick="download()">
            </td>
        </tr>
    </table>

    <div>
        <p id="addFileSuccess"></p>
    </div>


</body>

</html>