<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QbH | Query</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="./css/general.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./js/query.js"></script>
    <script type="text/javascript" src="./js/db.js"></script>
</head>
<body>
<!--------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------- Navigation bar -------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <nav>
        <ul>
            <li><a href="home.html">Query by Humming</a></li>
            <li><a href="home.html">Home</a></li>
            <li><a class="active" href="query.html">Query</a></li>
            <li><a href="content.html">Content</a></li>
        </ul>
    </nav>
    <br>
<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Content ----------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
    <div class="skip-navbar">
        <form id="query-by-file-form" action="dbFindByQuery.json" method="POST" enctype="multipart/form-data">
            Upload your query here: <input id="upload-query" type="file" name="queryFile" accept=".mid"><br>
            <button id="upload-query-button" type="button">Search!</button>
        </form>
        <button type="button" onclick="sortContentTableByIndex()">Sort by index</button>
        <button type="button" onclick="sortContentTableByArtist()">Sort by artist</button>
        <button type="button" onclick="sortContentTableByTitle()">Sort by title</button><br>
        <input type="button" value="Start" onclick="search()" id="startRecordButton">
        <input type="button" value="Stop" onclick="stopRecordingAudio()" id="stopRecordButton">
    </div>

    <br>
    <br>

    <table id="queryResultsTable"></table>

<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Footer ------------------------------------------------------>
<!--------------------------------------------------------------------------------------------------------------------->
    <nav class="bottom">
        Query by Humming © Thijs Spinoy
    </nav>
</body>
</html>